<!-- This Partial Brought to You by ngIf. Because Elements Need Conditions :+1: -->


<div class="container" ng-init="">
	<div class="row" ng-init="LoadPlaces()">
		<div class="col l3" id="location-details">
			<h4 ng-if="sideInfo.name === ''">Welcome to UnWined!</h4>
			<p ng-if="sideInfo.name === ''" class="instructions">Bars with Happy Hour specials are marked on the map with a <img src="https://maps.gstatic.com/mapfiles/ms2/micons/bar.png"> icon.</p>
			<p ng-if="sideInfo.name === ''" class="instructions">Click on a bar's icon to view some basic information, then click the "More Details" button to see, you guessed it, more details about the selected bar. Go you!</p>
			<p ng-if="sideInfo.name === ''" class="instructions">Don't see your favorite bar on the map? Click the Find Bars link and search for it! Once you've found it, click its marker and then the "Has Specials" button in the Info Window, then come back here to add some specials!</p>
			<h5 ng-if="sideInfo.name === ''">Happy Drinking!</h5>
			<img ng-if="sideInfo.photo !== 'none'" ng-src="{{ sideInfo.photo }}" width="90px">
			<button ng-if="sideInfo.photo === 'none'" ng-click="addPhoto()">Add Photo</button>
			<h4 ngif="sideInfo.name !== ''">{{ sideInfo.name }}</h4>
			<h5>{{ sideInfo.address }}</h5>
			<p ng-if="sideInfo.specials !== ''">Specials: {{ sideInfo.specials }}</p>
			<button id="edit-specials" ng-if="sideInfo.name !== ''">Edit Specials</button>
		</div>
		<div class="col l7 offset-l1">
			<div id="map"></div>
		</div>	
	</div>	
</div>