 <!-- and updated version of this is just sitting on the index page. Copy that here, use ng-include, and make sure all the anchors still work. Your site looks like ass man :-1: -->

 <nav class="navbar">
    <div class="nav-wrapper">
      <img src="images/logo.png" alt="">
      <ul id="nav-mobile" class="right">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>
    </div>
  </nav>